html, body {
    font-family: Arial;
    color: #333;
}

card {
    width: 360px;
    justify-content: center;
    align-content: center;
    margin: 40px auto;
    padding: 40px 60px;
    border-radius: 10px;
    color: #333;
    background-color: hsla(0, 0%, 50%, 0.35);
    backdrop-filter: blur(15px);
}

card > button {
    color: #666;
    font-size: 24px;
    text-align: center;
    justify-text: center;
    margin: 10px 80px;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    border: solid 2px #999;
}

card > button:hover {
    color: white;
    border: solid 2px white;
    background: linear-gradient(hsla(217, 40%, 30%, 1), hsla(217, 40%, 15%, 1));
}

h2, h3 {
    color: #999;
    text-align: center;
    font-size: 48px;
    font-weight: 200;
}

header {
    align-content:center;
    justify-content:center;
}

header > img {
    justify-self: center;
}

form {
    background-color: gold;
    justify-content: center;
    margin: 40px auto;
    padding: 60px;
}

input {
    font-size: 36px;
    height: 48px;
    width: 360px;
    padding: 20px 40px;
    border-radius: 20px;
    margin: 10px auto;
}

p {
    font-size: 36px;
    text-align: center;
}

.add-btn {
    color: white;
    text-align: center;
    margin: 10px 33%;
    padding: 20px;
    border-radius: 10px;
    border: solid 2px #999;
    background: linear-gradient(hsla(217, 40%, 30%, 1), hsla(217, 40%, 20%, 1));
}

.add-btn:hover {
    color: #999;
    border: solid 2px white;
    background: hsla(217, 10%, 90%, 1);
}

.container {
    display: flex;
    flex: 80%;
    width: 100%;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.container > button:hover {
    font-weight: 600;
    background-color: hsla(217, 30%, 80%, 1);
}

.devour > img {
    height: 36px;
    margin: 0 10px;
}
